<%= form_for @book  do |f| %>
  <%= render 'layouts/error_messages', object: @book %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :cover %><br>
    <%= f.file_field :cover, class: "btn btn-large btn-file btn-primary" %>
  </div>
  <div class="field">
    <%= f.label :genres %><br>
    <%= f.fields_for :book_by_genres do |g| %>
      <%= g.collection_select :genre_id, Genre.order(:name), :id, :name, permit_blank: true %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
